h1{font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    }
div{width: 70px; height: 23px; text-align: center;
    display: inline-block;}
.no_underline{text-decoration-line: none; color: black;}
p{margin: 0.5%;}
ul{padding-left: 0px; margin-top: 0.5%; margin-bottom: 0.5%;}
li{list-style-type: none; margin-left: 1.5%;}
hr{height: 2px; background-color: black;}
.first{margin-top: 5%; font-size: 1.5em;}
.unselected{text-decoration: none;}
.selected{border-top: 2px solid; color: red; 
        border-bottom: 2px solid; color: red;
        font-weight: bolder;}
.unselected:hover{font-weight: bolder; 
        text-decoration: underline;}
.check_login{height: 30px; font-size: 1.1em; padding-left: 10px; padding-right: 10px; background-color: cornflowerblue; margin: 0%;}
.signup{height: 30px; font-size: 1.1em; padding-left: 10px; padding-right: 10px; background-color: darkcyan; margin: 0%;}
.initialization{height: 30px; font-size: 1.1em; padding-left: 10px; padding-right: 10px; background-color: red; margin: 0%;}
.signup:hover{font-weight: bolder;}
.initialization:hover{font-weight: bolder;}